body {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  background-color: #FAFAFA;
  font-family: 'Instrument Sans', sans-serif;
}

img {
  width: 600px;
  display: block;
  margin: 0 auto;
  opacity: 0.9;
}

h1 {
  font-family: 'Instrument Serif', serif;
  text-align: center; 
  letter-spacing: 2px;
}

.special {
  text-align: justify;
}

.nice:hover {
  color: #FAF47D
}
  
